# Práctica 1
### Ejercicio 1: Core Python

Temas:
1. Variables, strings, tuples, listas.
2. Operadores aritméticos y operadores de comparación.
3. Condicionales.
4. Loops.
5. Conversión de tipo.
6. Funciones matemáticas.
7. Input/Output.
8. Abrir/Cerrar un archivo.
9. Control de errores.
---
---
---
## 1. Variables, strings, tuples, listas
### 1.1. Variables y 1.2. Strings

In [79]:
#variables numéricas
a = 5
b = 1.5
print(a) #int
print(b) #float

#varibales tipo string
saludo_1 = "Hola"
saludo_2 = "mundo!"

#accediendo a un caracter mediante su indice
print(saludo_1[2])

5
1.5
l

**Los strings son inmutables, por lo tanto, no podemos reasignar un caracter de un string a otro**

```
saludo_1[0] = 'X' 
```
> Esto es completamente **INCORRECTO**

In [80]:
#concatenación de strings
saludo_completo = saludo_1 + " " + saludo_2
print(saludo_completo)

Hola mundo!

***

### 1.3. Tuplas
La tupla consiste en una secuencia de _objetos arbitrarios_ separados por coma y rodeados de paréntesis

In [81]:
#ejemplo de una tupla que contiene dos strings y una tupla
persona = ('Gerardo', 'Mathus', (1994,1,24))
print(persona)

('Gerardo', 'Mathus', (1994, 1, 24))

In [82]:
#Desempaquetar la tupla
nombre, apellido, fecha_nacimiento = persona

#el objeto [0] de la tupla se asigna a nombre
#el objeto [1] de la tupla se asigna a apellido
#el objeto [2] de la tupla se asigna a fecha_nacimiento
print("Nombre:",nombre)
print("Apellido:", apellido)
print("Fecha de nacimiento:", fecha_nacimiento)

Nombre: Gerardo
Apellido: Mathus
Fecha de nacimiento: (1994, 1, 24)

In [83]:
#Obtener el mes de la fecha de nacimiento (el segundo elemento de la tupla)
mes = fecha_nacimiento[1]
print("mes:",mes)

mes: 1

In [84]:
#o bien
mes = persona[2][1]
print("mes:",mes)

mes: 1

***

### 1.4. Listas
Una lista es muy similar a una tupla, pero es mutable. Es decir, podemos agregar, eliminar, o editar elementos.

In [85]:
a = [1.0, 2.0, 3.0]    #crear una lista
a.append(4.0)          #agregamos 4.0 a la lista
print(a)

[1.0, 2.0, 3.0, 4.0]

In [86]:
a.insert(0,0.0)        #insertamos 0.0 en la posición 0 (índice 0)
print(a)

[0.0, 1.0, 2.0, 3.0, 4.0]

In [87]:
print(len(a))          #longitud de la lista

5

In [88]:
print(a[2:4])         #imprime a partir del elmento 1 hasta (3-1)

[2.0, 3.0]

In [89]:
a[2:4] = [1.0, 1.0, 1.0] #modificar los elementos selecccionados
print(a)

[0.0, 1.0, 1.0, 1.0, 1.0, 4.0]


Una matriz se puede representar como una lista de listas

In [90]:
a = [
 [1, 2, 3],
 [4, 5, 6],
 [7, 8, 9]
]
print(a)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [91]:
print(a[1]) #imprime la segunda fila

[4, 5, 6]

In [92]:
print(a[1][2]) #imprime el terer elemento de la segunda fila

6



---
## 2. Operadores aritméticos y de comparación
### 2.1. Operadores aritméticos

In [93]:
s = 'Hola '
t = 'Amigo '
a = [1,2,3]

print (s * 3) #repetir un string 3 veces

Hola Hola Hola

In [94]:
print(a * 3) #repetir una lista 3 veces

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [95]:
print(a + [4, 5]) #agregar elementos a una lista

[1, 2, 3, 4, 5]

In [96]:
print(s + t) #concatenación de strings

Hola Amigo

Podemos usar asignación especial como se hace en C

```
a += b    #a = a + b
a -= b    #a = a - b
a /= b    #a = a / b
a *= b    #a = a * b
a **= b   #a = a ** b
a %= b    #a = a % b
```

### 2.1. Operadores de comparación

In [97]:
a = 2
b = 1.99
c = '2'
print(a > b)

True

In [98]:
print(a == c)

False

In [99]:
print((a > b) and (a != c))

True

In [100]:
print((a > b) or (a == b))

True



---
## 3. Condicionales

Sintaxis:
```
if condicion:
    #código en caso de verdadero
elif condicion:
    #si la primera condicion fue falsa, podemos probar una segunda
else:
    #si no se cumplió ninguna
```

In [102]:
def checar_si_puede_votar(edad):
    if edad >= 18:
        return "sí puede votar"
    else:
        return "todavía no puede votar"
    
edad_persona_1 = 45
edad_persona_2 = 15

print("La persona 1 tiene",edad_persona_1,"entonces", checar_si_puede_votar(edad_persona_1))
print("La persona 2 tiene",edad_persona_2,"entonces", checar_si_puede_votar(edad_persona_2))

La persona 1 tiene 45 entonces sí puede votar
La persona 2 tiene 15 entonces todavía no puede votar



---
## 3. Loops
### 3.1. For
El ciclo For se utiliza para iterar sobre una lista (o cualquier objeto iterable).
Sintaxis:
```
for variable_de_control in objeto_iterable:
    #hacer algo con variable_de_control
```

In [103]:
estudiantes = ['Gerardo', 'Regina', 'Mariana', 'Martín', 'Sebastián', 'María']
for est in estudiantes:
    print(est)

Gerardo
Regina
Mariana
Martín
Sebastián
María


Dado que un string es una secuencia de caracteres, entonces podemos iterar sobre cada uno

In [105]:
nombre_pelicula = "Star Wars"
for caracter in nombre_pelicula:
    print(caracter)

S
t
a
r

W
a
r
s

Todo ciclo puede ser detenido con la oalabra reservarda `break`

In [106]:
for est in estudiantes:
    if est == "Martín":
        break
    else:
        print(est)

Gerardo
Regina
Mariana



### 4.2. Ciclo While
Ejecuta un bloque de código simepre y cuando su condición de control sea verdadera
Sintaxis:
```
while condicion == True:
   #ejecutar código 
```

In [5]:
x = 1
while x < 10:
    print(x)
    x += 1

1
2
3
4
5
6
7
8
9

Podemos saltarnos una iteración del ciclo con el uso de la palabra resercada `continue`

In [2]:
#imprimir todos los números pares del 1 al 20 menos el 8,10 y 12
y = 1
while y <= 20:
    if y % 2 == 0:
        if y in [8,10,12]:
            y += 1
            continue
        else:
            print(y)
    y += 1

2
4
6
14
16
18
20



---
## 5. Conversiones de tipo
Conversiones entre tipos de datos:
```
int(a)         #convierte a a entero
float(b)       #convierte b a flotante
complex(a)     #convierte a complejo a + 0j
complex(a,b)   #convierte a complejo a + bj
```

In [4]:
a = 5
b = -3.6
d = '4.0'
print(a + b)

1.4

In [5]:
print(int(b))

-3

In [6]:
print(complex(a,b))

(5-3.6j)

In [7]:
print(float(d))

4.0

In [8]:
print(int(d)) #esto va a fallar porque d es un string

ValueError: invalid literal for int() with base 10: '4.0'

## ---
## 6. Funciones matemáticas
Core Python incluye sólo las siguientes

* `abs(a)` regresa el valor absoluto de a
* `max(secuencia)` regresa el valor más grande de una secuencia
* `min(secuenia)` regresa el valor más pequeño de una secuencia
* `round(a,n)` redondea a a n decimales

In [22]:
a = 5.6341232
b = 2
c = -2

In [23]:
abs(c)

2

In [13]:
max([1,5,7,8,9])

9

In [16]:
min([-9,1,5,7,8])

-9

In [24]:
round(a,b)

5.63

---
## 7. Input/output
### 7.1. Input

`input(prompt )`

In [27]:
nombre = input("Cómo te llamas?: ")
print("Hola", nombre)

Cómo te llamas?:  Gerardo

Hola Gerardo

In [29]:
#leer y convertir a entero
edad = int(input("Cuántos años tienes?:"))
print("naciste en el", 2019 - edad)

Cuántos años tienes?: 25

naciste en el 1994

### 7.2. Output
`print(object1, object2, . . .)`

In [31]:
a = 642.423
b = [10,20,30,40]
print(a,b)

642.423 [10, 20, 30, 40]

In [34]:
print("a =",a, "\nb =",b)
#\n es un caracter de escape que significa nueva línea

a = 642.423
b = [10, 20, 30, 40]

Podemos formatear un string que se va a imprimir con el método `.format()` propio de todo string

In [35]:
print("Hola {}, tengo {} años y me llamo {}".format("mundo", 25, "Pedro"))

Hola mundo, tengo 25 años y me llamo Pedro